body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 6em;
    font-weight: 600;
}
h2{
    font-size: 4em;
    font-weight: 500;
}
h3{
    font-size: 2em;
    font-weight: 500;
}
h4{
    font-size: 1.2em;
    font-weight: 500;
}

@media only screen and (max-width:900px){
    h1{
        font-size:5em
    }
    h2{
        font-size: 2em;
    }
}