@import '../../resources/styles/theme.module.scss';

.choosePlanPage{
    min-height:100vh;
    width: 100%;
    background-color: $accentColor2;
    .headingHolder{
        display: flex;
        justify-content: center;
        align-items: center;
        
        h2{
            margin: 60px auto 0 auto;
            color: $primaryColor;
        }
    }  
}
.planCardHolder{
    width:80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 0;
}
.planCard{
    position: relative;
    display:flex;
    margin:30px 20px;
    flex-direction: column;
    background-color: $primaryColor;
    height:200px;
    width:95%;
    max-width: 500px;
    box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .topSec{
        height:60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-weight: bold;
        text-shadow: 1px 1px 0 #ffffff;
    }
    .bottomSec{
        display: flex;
        height:40%;
        font-size: 1.2em;
        font-weight: 600;
        .priceContainer{
            width:25%;
            color:$textColorLight;
            background-color: $accentColor2;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                path{
                    fill:$textColorLight;
                }
            }
        }
        .specsContainer{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .spec{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .selectBtn{
            width: 25%;
            border-left: 1px solid $accentColor2;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                text-align: center;
                color:$accentColor2;
                border: 2px solid $accentColor2;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                box-shadow:0 19px 38px rgba(0,0,0,0.30);
                transition: all .5s;
            }
            div:hover{
                box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                transform: scale(.97);
            }
            .btnDisabled{
                font-size: .8em;
                background-color: #bab4b4;
                cursor: not-allowed;
            }
        }
        
    }
}

.silverCard{
    .topSec{
        background:
        -moz-linear-gradient(
        -72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #454545 27%,
        #dedede 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #a1a1a1
    );
    background:
    -webkit-linear-gradient(
        -72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #454545 27%,
        #dedede 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #a1a1a1
    );
    background:
    -o-linear-gradient(
        -72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #454545 27%,
        #dedede 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #a1a1a1
    );
    background:
    linear-gradient(
        -72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #454545 27%,
        #dedede 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #a1a1a1
    );
    }
}
.goldCard{
    .topSec{
        color: rgba(73, 45, 21, 0.72);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(155, 122, 89, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5)
  ;
  border: 1px solid #deca45;
  background:
  -moz-linear-gradient(
    -72deg,
    #ffc373,
    #ffffff 16%,
    #ffc373 21%,
    #ffffff 24%,
    #a17434 27%,
    #ffc373 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffc373 72%,
    #ffffff 80%,
    #ffc373 84%,
    #a17434
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #ffc373,
    #ffffff 16%,
    #ffc373 21%,
    #ffffff 24%,
    #a17434 27%,
    #ffc373 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffc373 72%,
    #ffffff 80%,
    #ffc373 84%,
    #a17434
  );
  background:
  -o-linear-gradient(
    -72deg,
    #ffc373,
    #ffffff 16%,
    #ffc373 21%,
    #ffffff 24%,
    #a17434 27%,
    #ffc373 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffc373 72%,
    #ffffff 80%,
    #ffc373 84%,
    #a17434
  );
  background:
  linear-gradient(
    -72deg,
    #ffc373,
    #ffffff 16%,
    #ffc373 21%,
    #ffffff 24%,
    #a17434 27%,
    #ffc373 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffc373 72%,
    #ffffff 80%,
    #ffc373 84%,
    #a17434
  );
    }
}
.platinumCard{
    .topSec{
        color: rgba(0, 0, 0, 0.72);
        text-decoration: none;
        font-weight: bold;
        text-shadow: 1px 1px 0 #ffffff;
        box-shadow:
            2px 2px 0.5em rgba(122, 122, 122, 0.55),
            inset 1px 1px 0 rgba(255, 255, 255, 0.9),
            inset -1px -1px 0 rgba(0, 0, 0, 0.5)
        ;
        border: 1px solid #cacade;
        background:
            -moz-linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
        );
        background:
        -webkit-linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
        );
        background:
        -o-linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
        );
        background:
        linear-gradient(
            -72deg,
            #dedeff,
            #ffffff 16%,
            #dedeff 21%,
            #ffffff 24%,
            #555564 27%,
            #dedeff 36%,
            #ffffff 45%,
            #ffffff 60%,
            #dedeff 72%,
            #ffffff 80%,
            #dedeff 84%,
            #555564
        );
    }
}
.perlCard{
    .topSec{
        color: #e9e9e9;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
    1px 1px 0 #ffffff,
    -1px -1px 0 #b7b7b7
  ;
  box-shadow:
    2px 2px 0.5em rgba(98, 73, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34)
  ;
  border: 1px solid #cacaca;
  background:
  -moz-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #caa1de 27%,
    #dea1ca 30%,
    #dedede 38%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #caa1de 93%,
    #dea1ca
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #caa1de 27%,
    #dea1ca 30%,
    #dedede 38%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #caa1de 93%,
    #dea1ca
  );
  background:
  -o-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #caa1de 27%,
    #dea1ca 30%,
    #dedede 38%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #caa1de 93%,
    #dea1ca
  );
  background:
  linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #caa1de 27%,
    #dea1ca 30%,
    #dedede 38%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #caa1de 93%,
    #dea1ca
  );
    }
}
.planCard{
    .blurCard{
        height:100%;
        width:100%;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top:0;
        display:flex;
        justify-content: center;
        align-items: center;
        div{
            color: $primaryColor;
            font-size: 3em;
        }
    }
}
@media only screen and (max-width:450px){
    .planCardHolder{
        width:100%;
    }
    .planCard{
        .bottomSec{
            font-size: .8em;
        }
    }
    
}